<p>sorteo-category-add-page works!</p>

<form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
  <table>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Codigo</mat-label>
          <input matInput formControlName="codigo" required>
          <mat-error *ngIf="isFieldValid('codigo')">Codigo is required</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Equidad</mat-label>
          <input matInput type="number" formControlName="equidad" required>
          <mat-error *ngIf="isFieldValid('equidad')">Equidad is required</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado" required>
          <mat-error *ngIf="isFieldValid('estado')">Estado is required</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required>
          <mat-error *ngIf="isFieldValid('nombre')">Nombre is required</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Requiere Cuantia</mat-label>
          <input matInput type="number" formControlName="requiereCuantia" required>
          <mat-error *ngIf="isFieldValid('requiereCuantia')">Requiere Cuantia is required</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>iCategoriaPadre</mat-label>
          <input matInput type="number" formControlName="iCategoriaPadre">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Orden</mat-label>
          <input matInput type="number" formControlName="orden" required>
          <mat-error *ngIf="isFieldValid('orden')">Orden is required</mat-error>
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button color="primary" type="submit">Guardar Categoria</button>
      </td>
    </tr>
  </table>
</form>

