<div>
  <app-sorteo-category-add-page (categorySaved)="reloadCategories()"></app-sorteo-category-add-page>
  <button mat-raised-button color="primary" (click)="reloadCategories()">Reload Categories</button>
</div>

<table mat-table [dataSource]="categories" class="mat-elevation-z8">

  <!-- Codigo Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Codigo </th>
    <td mat-cell *matCellDef="let category"> {{ category.codigo }} </td>
  </ng-container>

  <!-- Equidad Column -->
  <ng-container matColumnDef="equidad">
    <th mat-header-cell *matHeaderCellDef> Equidad </th>
    <td mat-cell *matCellDef="let category"> {{ category.equidad }} </td>
  </ng-container>

  <!-- Estado Column -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let category"> {{ category.estado }} </td>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let category"> {{ category.nombre }} </td>
  </ng-container>

  <!-- Requiere Cuantia Column -->
  <ng-container matColumnDef="requiereCuantia">
    <th mat-header-cell *matHeaderCellDef> Requiere Cuantia </th>
    <td mat-cell *matCellDef="let category"> {{ category.requiereCuantia }} </td>
  </ng-container>

  <!-- Orden Column -->
  <ng-container matColumnDef="orden">
    <th mat-header-cell *matHeaderCellDef> Orden </th>
    <td mat-cell *matCellDef="let category"> {{ category.orden }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


